doctype 5
html
  head
    title= title

    // Requiring stylesheets
    link(rel='stylesheet', href='/bootstrap-stylus/stylus/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap-stylus/stylus/responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Requiring javascripts
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    block content
